.container {
    display: flex;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    justify-content: space-between;
    margin: auto;
    width: 100%;
    padding: 20px 50px;
}

.list {
    list-style-type: none; /* Remove bullets */
}

.row {
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    text-align: center;
}
